<suite name="API Suite" parallel="classes" thread-count="4">

    <listeners>
        <listener class-name="api.utils.ExtentReportManager"/>
    </listeners>

    <test name="API Tests">
        <classes>
            <class name="api.tests.HealthCheckTests"/>
            <class name="api.tests.AuthTests"/>
            <class name="api.tests.BookingTests"/>
            <class name="api.tests.BookingDataDrivenTest"/>
        </classes>
    </test>

</suite>